# droidian docker images build definition for GitHub Actions
# Contact: Eugenio "g7" Paolantonio <me@medesimo.eu>

name: droidian base images

on:
  schedule:
    - cron: "59 20 * * *"
  push:

jobs:
  build:
    runs-on: ubuntu-22.04

    strategy:
      fail-fast: true
      matrix:
        arch: [amd64, armhf, arm64]
        template: [base]
        dist: [current, next]
        namespace: [droidian]

    name: ${{ matrix.template }}:${{ matrix.dist }} on ${{ matrix.arch }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: QEMU set-up
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          install: true

      - name: Fetch dependencies
        run: sudo apt-get install --yes qemu-user-static binfmt-support

      - name: Build base rootfs
        run: sudo ./src/build_base_image.sh ${{ matrix.arch }} ${{ matrix.dist }}

      - name: Build
        run: ./src/build_docker_image.sh "${{ matrix.arch }}/${{ matrix.namespace }}/${{ matrix.template }}:${{ matrix.dist }}"

      - name: Deploy
        if: "${{ github.ref == 'refs/heads/master' }}"
        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
        run: ./src/push_docker_image.sh "${{ matrix.arch }}/${{ matrix.namespace }}/${{ matrix.template }}:${{ matrix.dist }}"
